html {
  font-family: Georgia, Times, serif;
  font-size: 24px;
  line-height: 32px;
}

body {
	text-align: center;
}

p {
    font-size: 12;
}

.my_paragraphs {
    background-color: BlanchedAlmond;
}

#foo {
    color: #ff0000;
}

a {
  color: orange;
}

a:hover {
  color: black;
}

.my_paragraphs a {
  font-size: 18px;
}

p {
    padding: 20px;
    width: 320px;
    height: 40px;
    margin-left: 50px;
}

button {
	font-size: 78px;
}